<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Photo Gallery App </title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/gallery.css">
</head>
<body >
    
    <!--Let's first create the header-->
    <header id="header-main">

        <nav class="wrapper-main">
           
           <ul>
            <li><a href="#index-gallery">Images</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#left-side-bar">Quotes</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#right-side-bar">Note</a></li>
           </ul>
        </nav>

    </header>

    <div class="arrange">

        <section id="left-side-bar"><!--Fifth-->

            <p> Everything that you can imagine is real.</p>
            <h2>- Pablo Picaso</h2>
    
            <p> Learning is the only thing the mind never exhausts , never fears and never regrets.</p>
            <h2>- Leonardo Da Vinci</h2>
    
            <p> One touch of nature makes the whole world kin.</p>
            <h2>- William Shakespeare</h2>
    
        </section>
    
    <section id="index-gallery" class="wrapper-gallery"><!--First-->

              
        <h2>A treat for your viewing pleasure!!!!</h2>

        <div class="gallery-img img1">
            <div><a href="#">Together</a></div>
        </div>

        <div class="gallery-img img2">
            <div><a href="#">NYC</a></div>
        </div>

        <div class="gallery-img img3">
            <div><a href="#">Israel</a></div>
        </div>

        <div class="gallery-img img4">
            <div><a href="#">Paris</a></div>
        </div>

        <div class="gallery-img img5">
            <div><a href="#">Good Morning</a></div>
        </div>

        <div class="gallery-img img6">
            <div><a href="#">Beaches</a></div>
        </div>

        <div class="gallery-img img7">
            <div><a href="#">Leisure</a></div>
        </div>

        <div class="gallery-img img8">
            <div><a href="#">London</a></div>
        </div>

        <div class="gallery-img img9">
            <div><a href="#">Sea Shore</a></div>
        </div>

        <div class="gallery-img img10">
            <div><a href="#">The Taj</a></div>
        </div>

        <div class="gallery-img img11">
            <div><a href="#">Woods</a></div>
        </div>

        <div class="gallery-img img12">
            <div><a href="#">Statue</a></div>
        </div>

        <div class="gallery-img img13">
            <div><a href="#">Rugby</a></div>
        </div>

        <div class="gallery-img img14">
            <div><a href="#">Dawn</a></div>
        </div>

        <div class="gallery-img img15">
            <div><a href="#">Skycrapers</a></div>
        </div>

        <div class="gallery-img img16">
            <div><a href="#">Gully Cricket</a></div>
        </div>

    </section>

    <section id="right-side-bar"><!--Fourth-->

        <h2>Note to the viewer..</h2>
        <p> 
            Next time when you visit a place , store the memories in the form of lovely 
            images so that you can feel the zest that you had at that point in time. It will 
            surely motivate you to do something big in your life and keep going....
        </p>

    </section>

    <section id="about"><!--Third-->

        <h2>The joy of viewing images</h2>
        <p> We all love to see beautiful things around us.
            It gives our mind a dose of refreshment and fills enthusiasm in us.
            Let's get onboard on the ship of imagination and take a glance at a few 
            such instances..
        </p>
      
    </section>


    <section id="blog"><!--Second-->
        
        <h2>Be a Wanderer!!!!!!!!</h2>
        <p>
         Ever thought as human beings , we are innate curious . Our mind keeps on pondering
         about several things and tries to keep finding things which keeps it active. Images 
         are a great source of it.They contain memories , emotions and last but not the least
         history in them.  

        </p>

    </section>

</div>

    <script src="js/gallery.js"> </script>
    
</body>
</html>
